{
  "name": "{{ user_name }}",
  "@timestamp": "{{ date_time_this_month }}",
  "userId": {{ random_number }},
  "createdAt": "{{ date_time }}",
  "body": "{{ text }}",
  "ext": "{{ word }}",
  "blobId": "{{ uuid4 }}"
}
